openai
requests
python-dotenv
Flask
APScheduler
beautifulsoup4
betterproto
certifi
chardet
grpclib
h2
hpack
hyperframe
idna
lxml
multidict
robobrowser
six
soupsieve
stringcase
urllib3
Werkzeug
uvicorn
fastapi
opencc 
